<html>
    <head>
        <title>jereee.me</title>
        <link rel="stylesheet" href="/assets/styles.css">
	<link rel="stylesheet" href="/assets/styles/github-dark-dimmed.min.css">
	<script src="/assets/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
	    <div class=topnav><p class=header>jereee.me | <a href="/">home</a> | <a href="/about">about</a> | <a href="/contact">contact</a> | <a href="https://github.com/anomalyze">github</a> | <a href="https://sr.ht/~anomaly/">sourcehut</a></p>
        </div>
        <div class=container>
            <div class=side></div>
            <div class=child>
